In [10]:
import findspark
findspark.init()

import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

dataframe_mysql = spark.read.format("jdbc").options(
    url="jdbc:mysql://localhost:3306/loan",
    driver = "com.mysql.jdbc.Driver",
    dbtable = "mytable",
    user="root",
    password="sanjay2001").load()

dataframe_mysql.show()

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|             0E-8|      null|             360|          true|        Urban|          Y|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|    1508.00000000|       128|             360|          true|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|             0E-8|        66|             360|          true|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|    2358.00000000|       120|             360|          true|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|             0E-8|       141|             360|          true|        Urban|          Y|
|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|    4196.00000000|       267|             360|          true|        Urban|          Y|
|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|    1516.00000000|        95|             360|          true|        Urban|          Y|
|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|    2504.00000000|       158|             360|         false|    Semiurban|          N|
|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|    1526.00000000|       168|             360|          true|        Urban|          Y|
|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|   10968.00000000|       349|             360|          true|    Semiurban|          N|
|LP001024|  Male|    Yes|         2|    Graduate|           No|           3200|     700.00000000|        70|             360|          true|        Urban|          Y|
|LP001027|  Male|    Yes|         2|    Graduate|         null|           2500|    1840.00000000|       109|             360|          true|        Urban|          Y|
|LP001028|  Male|    Yes|         2|    Graduate|           No|           3073|    8106.00000000|       200|             360|          true|        Urban|          Y|
|LP001029|  Male|     No|         0|    Graduate|           No|           1853|    2840.00000000|       114|             360|          true|        Rural|          N|
|LP001030|  Male|    Yes|         2|    Graduate|           No|           1299|    1086.00000000|        17|             120|          true|        Urban|          Y|
|LP001032|  Male|     No|         0|    Graduate|           No|           4950|             0E-8|       125|             360|          true|        Urban|          Y|
|LP001034|  Male|     No|         1|Not Graduate|           No|           3596|             0E-8|       100|             240|          null|        Urban|          Y|
|LP001036|Female|     No|         0|    Graduate|           No|           3510|             0E-8|        76|             360|         false|        Urban|          N|
|LP001038|  Male|    Yes|         0|Not Graduate|           No|           4887|             0E-8|       133|             360|          true|        Rural|          N|
|LP001041|  Male|    Yes|         0|    Graduate|         null|           2600|    3500.00000000|       115|            null|          true|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 20 rows

In [11]:
dataframe_mysql.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: decimal(13,8) (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: boolean (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)

In [12]:
type(dataframe_mysql)

pyspark.sql.dataframe.DataFrame

In [13]:
dataframe_mysql = dataframe_mysql.na.drop()

In [14]:
dataframe_mysql.count()

480

In [15]:
from pyspark.sql.functions import col, when
dataframe_mysql = dataframe_mysql.withColumn("Loan_Status", when(col("Loan_Status") == "Y", 1).otherwise(0))
dataframe_mysql.show()

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|    1508.00000000|       128|             360|          true|        Rural|          0|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|             0E-8|        66|             360|          true|        Urban|          1|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|    2358.00000000|       120|             360|          true|        Urban|          1|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|             0E-8|       141|             360|          true|        Urban|          1|
|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|    4196.00000000|       267|             360|          true|        Urban|          1|
|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|    1516.00000000|        95|             360|          true|        Urban|          1|
|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|    2504.00000000|       158|             360|         false|    Semiurban|          0|
|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|    1526.00000000|       168|             360|          true|        Urban|          1|
|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|   10968.00000000|       349|             360|          true|    Semiurban|          0|
|LP001024|  Male|    Yes|         2|    Graduate|           No|           3200|     700.00000000|        70|             360|          true|        Urban|          1|
|LP001028|  Male|    Yes|         2|    Graduate|           No|           3073|    8106.00000000|       200|             360|          true|        Urban|          1|
|LP001029|  Male|     No|         0|    Graduate|           No|           1853|    2840.00000000|       114|             360|          true|        Rural|          0|
|LP001030|  Male|    Yes|         2|    Graduate|           No|           1299|    1086.00000000|        17|             120|          true|        Urban|          1|
|LP001032|  Male|     No|         0|    Graduate|           No|           4950|             0E-8|       125|             360|          true|        Urban|          1|
|LP001036|Female|     No|         0|    Graduate|           No|           3510|             0E-8|        76|             360|         false|        Urban|          0|
|LP001038|  Male|    Yes|         0|Not Graduate|           No|           4887|             0E-8|       133|             360|          true|        Rural|          0|
|LP001043|  Male|    Yes|         0|Not Graduate|           No|           7660|             0E-8|       104|             360|         false|        Urban|          0|
|LP001046|  Male|    Yes|         1|    Graduate|           No|           5955|    5625.00000000|       315|             360|          true|        Urban|          1|
|LP001047|  Male|    Yes|         0|Not Graduate|           No|           2600|    1911.00000000|       116|             360|         false|    Semiurban|          0|
|LP001066|  Male|    Yes|         0|    Graduate|          Yes|           9560|             0E-8|       191|             360|          true|    Semiurban|          1|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 20 rows